# Programming

- Algorithms - a set of rules or steps used to solve a problem
- Data Structures - a particular way of organizing data in a computer

# What is Not a "Collection"?

Most of our variables have one value in them - when we put a new value in the varialbe, the old value is overwritten

In [1]:
x = 2
x = 4
print(x)

4

# A List is a kind of Collection

- a collection allows us to put many values in a single "variable"
- a collection is nice because we can carry many values around in one convenient package

In [2]:
friends = ['Joseph', 'Glenn', 'Sally']
carryon = ['socks', 'shirt', 'perfume']

# List Constants

- List constants are surrounded by square brackets and the elements in the list are seperated by commas
- a list element can be any Python object - even another list
- a list can be empty

In [3]:
list_ = [1, [5,6], 8]
print(list_)

[1, [5, 6], 8]

In [4]:
list1 = []
print(list1)

[]

# Looking Inside Lists

Just like strings, we can get at any single element in a list using an index specified in square brackets

In [5]:
friends = ['Joseph', 'Glenn', 'Sally']
print(friends[1])

Glenn

# Lists are Mutable

- STRINGS are "immutable" - we cannot change the contents of a string - we must make a new string to make any change
- Lists are"mutable" - we can change an element of a list using the index operator

In [6]:
fruit = "Banana"
fruit[0] = 'b'

TypeError: 'str' object does not support item assignment

In [8]:
x = fruit.lower()
print(x)

banana

In [10]:
lotto = [2, 14, 26, 41, 63]
print(lotto)

[2, 14, 26, 41, 63]

In [12]:
lotto[2] = '28'
print(lotto)

[2, 14, '28', 41, 63]

# How long is a List?

- the len() function takes a list as a parameter and returns the number of elements in the list
- actually len() tells us the number of elements of any set or sequence (such as a string...)

In [13]:
greet = 'Hello Bob'
print(len(greet))

9

In [14]:
x = [1, 2, 'joe', 99]
print(len(x))

4

# Using the RANGE function

- the range function returns a list of numbers that range from zero to one less than the parameter
- we can construct an index loop using for and an integer iterator

In [17]:
print(range(4))

range(0, 4)

In [18]:
friends = ['Joseph', 'Glenn', 'Sally']
print(len(friends))

3

In [19]:
print(range(len(friends)))

range(0, 3)

In [20]:
for friend in friends :
    print('Happy New Year:', friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [23]:
for i in range(len(friends)) :
    friend = friends[i]
    print('Happy New Year:', friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

# Concatenating Lists Using +

- we can create a new list by adding two existing lists together

In [25]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

# Lists can be Sliced using :

- REMEMBER: just like in strings, the second number is "up to but not including"

In [26]:
t = [9, 41, 12, 3, 74, 15]
t[1:3]

[41, 12]

In [27]:
t[:4]

[9, 41, 12, 3]

In [28]:
t[3:]

[3, 74, 15]

In [29]:
t[:]

[9, 41, 12, 3, 74, 15]

# List Methods

In [32]:
x = list()
type(x)

list

In [33]:
dir(x)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# Building a List from Scratch

- we can create an empty list and then add elements using the append method
- the list stays in order and new elements are added at the end of the list

In [34]:
stuff = list()
stuff.append('book')
stuff.append(99)
print(stuff)

['book', 99]

In [36]:
stuff.append('cookie')
print(stuff)

['book', 99, 'cookie', 'cookie']

# Is something in a List?

- Python provides two operators that let you check if an item is in a list
- these are logical operators that return True or False
- they do not modify the list

In [37]:
some = [1, 9, 21, 10 , 16]
9 in some

True

In [38]:
15 in some

False

In [39]:
20 not in some

True

# Lists are in Order

- a list can hold many items and keeps those items in the order until we do something to change the order
- a list can be sorted (i.e., change its order)
- the sort method (unlike in strings) means "sort yourself"

In [40]:
friends = ['Joseph', 'Glenn', 'Sally']
friends.sort()
print(friends)

['Glenn', 'Joseph', 'Sally']

In [41]:
print(friends[1])

Joseph

# Built-in Functions and Lists

- there are a number of functions built into Python that take lists as parameters

In [42]:
nums = [3, 41, 12, 9, 74, 15]
print(len(nums))

6

In [43]:
print(max(nums))

74

In [44]:
(min(nums))

3

In [46]:
sum(nums)

154

In [47]:
sum(nums)/len(nums)

25.666666666666668

In [49]:
numlist = list()
while True:
    inp = input('Enter a number: ')
    if inp == 'done' : break
    value = float(inp)
    numlist.append(value)
        
average = sum(numlist) / len(numlist)
print('Average:', average)

Enter a number: 3
Enter a number: 9
Enter a number: 5
Enter a number: done
Average: 5.666666666666667